.button {
  display: inline-block;
  text-decoration: none;
  padding: 17px 24px 14px;
  font-family: "Courier";
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  background-color: transparent;
  border: solid 2px #00000a;
  color: #00000a;
  transition: all 0.2s ease;
  cursor: pointer;
  line-height: normal;

  &:hover {
    background: #00000a;
    color: #fff;
  }

  &--white {
    border: solid 2px #fff;
    background-color: transparent;
    color: #fff;
    &:hover {
      background: #fff;
      color: #00000a;
    }
  }

  &--yellow {
    border: solid 2px $color-yellow;
    background-color: transparent;
    color: $color-yellow;
    &:hover {
      background: $color-yellow;
      color: #00000a;
    }
  }
}
