.event-box {
  display: block;
  margin-top: 8rem;
  box-sizing: border-box;
  border: solid 2px transparent;
  padding: 20px;
  text-decoration: none;

  &:hover {
    border: solid 2px #00000a;
  }

  &.no-hover:hover {
    border: solid 2px transparent;
  }

  @include max-screen(767px) {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    float: none;
    max-width: 480px;
  }

  .img-wrapper {
    width: 100%;
    display: inline-block;
    padding-bottom: 45%;
  }

  h3 {
    margin-top: 2.5rem;
    color: #00000a;
  }

  span {
    display: inline-block;
    margin-top: 3rem;
    background-color: #00000a;
    padding: 2px 2px 0;
  }

  p {
    margin-top: 3rem;
    color: #00000a;
  }

  .button {
    margin-top: 3rem;
  }
}