.form {
  margin-top: 17px;
}

.form__input,
.form__textarea {
  width: 100%;
  font-family: "Courier";
  font-size: 16px;
  padding: 16px 28px 15px;
  background-color: transparent;
  border: solid 2px #fff;
  height: 50px;

  &::placeholder {
    color: #fff;
  }

  &.white {
    background: #fff;
    height: 60px;
    padding: 21px 31px 20px;
    &::placeholder {
      color: #00000a;
    }
  }

  &.black {
    border-color: #00000a;
    color: #00000a;
    &::placeholder {
      color: #00000a;
    }
  }
}

.form__textarea {
  height: 30rem;
  margin-bottom: 3rem;

  &.white {
    height: 102px;
  }
}

.input-container {
  margin-top: 4.8rem;
  position: relative;
  input {
    padding-right: 70px;
  }
  .search-button {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 68px;
  }
}