.logo {
  float: left;
  width: 27rem;
  height: 25.5rem;
  position: relative;
  background-color: rgba(#00000a, 0.5);

  &__img {
    display: block;
    width: 13.2rem;
  }

  @include max-screen(1024px) {
    width: 20rem;
    height: 19rem;
  }
}
