.nav {
  float: right;
  background-color: rgba(#000,  .5);
  @include max-screen(1024px) {
    display: none;
    width: 100%;
    position: absolute;
    background-color: rgba(#000,  .9);

  }

  &__list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;

    @include max-screen(1024px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__link {
    padding: 33px 70px;
    display: inline-block;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    &:hover {
      background: $color-yellow;
    }
  }
}
