html {
  box-sizing: border-box;
  font-size: 62.5%;

  @include max-screen(767px) {
    font-size: 50%;
  }
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: $courier;
  font-size: 2rem;
  color: #00000a;
  line-height: 1.4;
}