h1,
h2,
h3,
h4,
h6{
  font-family: 'Bazaar-Distressed';
}

h1 {
  font-size: 6.4rem;
}

h2 {
  font-size: 4.8rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.4rem;
}

h6 {
  font-size: 16px;
}

.text {
  &-default {
    font-size: 2rem;
  }

  &-small {
    font-size: 1.6rem;
  }

  &-xsmall {
    font-size: 12px;
  }

  &-bold {
    font-weight: bold;
  }

  &-regular {
    font-weight: 400;
  }

  &-snow {
    color: #fff;
  }

  &-uppercase {
    text-transform: uppercase;
  }

  &-center {
    text-align: center;
  }
}