.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clear-fix:after {
  content: "";
  clear: both;
  display: table;
}

.vertically-centered {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.absolute-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
