.page-footer {
  background: #00000a;
  padding: 72px 0;
  .container {
    display: table;
    width: 100%;
  }

  .left-part,
  .right-part {
    display: table-cell;
    vertical-align: middle;
    @include max-screen(1024px) {
      display: block;
      margin: 0 auto;
    }
  }
  .form-container {
    float: right;
    .form__input {
      width: 270px;
    }
    @include max-screen(480px) {
      .button {
        display: block;
        margin-top: 20px;
      }
    }
  }

  .right-part {
    @include max-screen(1024px) {
      margin-top: 4rem;
      .form-container {
        float: none;
      }
    }
  }

  .logo {
    float: none;
    display: inline-block;
    width: auto;
    vertical-align: middle;
    height: auto;
    background: none;

    img {
      position: static;
      transform: translate(0,0);
      width: 94px;
    }
  }

  .social-container {
    margin-left: 120px;
    display: inline-block;
    vertical-align: middle;
    @include max-screen(480px) {
      margin-left: 20px;
    }
    .icons-box {
      margin-top: 34px;
    }

    a {
      text-decoration: none;
      margin-right: 24px;
      svg {
        width: 20px;
        height: 20px;
        fill: #fff;
      }
      &:hover svg {
        fill: $color-yellow;
      }
    }
  }
}
