.blog-page {
  .explore-section {
    margin-top: 14.1rem;
  }

  .events-section {
    position: relative;

    .left-part {
      float: left;
      width: 440px;
      padding-right: 20px;
      box-sizing: border-box;
      @include max-screen(1024px) {
        width: 310px;
      }

      @include max-screen(767px) {
        float: none;
        margin: 0 auto;
      }

      .input-container {
        max-width: 310px;
        width: 100%;
      }

      h3 {
        margin-top: 11rem;
      }

      .archive-list {
        margin-top: 5px;
        p {
          cursor: pointer;
          margin-top: 2.5rem;
          text-transform: uppercase;
          font-weight: bold;
          &:before {
            content: ">";
            width: 30px;
            height: 30px;
            border: solid 2px #00000a;
            display: inline-block;
            margin-right: 30px;
            text-align: center;
          }
        }
      }
    }

    .right-part {
      float: right;
      width: calc(100% - 440px);
      @include max-screen(1024px) {
        width: calc(100% - 330px);
      }
      @include max-screen(767px) {
        width: 100%;
        float: none;
      }
      .event-box {
        max-width: 660px;
        &:first-child {
          margin-top: 2.8rem;
        }
      }
    }
  }

  .load-more-container {
    background: $color-yellow;
    padding: 25px 0;
    margin-top: 12rem;
    .right-arr {
      width: 150px;
      text-align: center;
      position: relative;
      &:after {
        content: "";
        border: solid black;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 4px;
        border-radius: 2px 2px 0 2px;
        transform: rotate(-45deg);
      }
    }
    .left-arr {
      width: 150px;
      text-align: center;
      position: relative;
      &:before {
        content: "";
        border: solid black;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 4px;
        border-radius: 2px 2px 0 2px;
        transform: rotate(135deg);
      }
    }
    .button:hover {
      &:after,
      &:before {
        border-color: #fff;
      }
    }
  }
}