.contact-page {
  .top-section-margin {
    padding: 6.5rem 0 13rem;
    @include max-screen(767px) {
      padding: 6.5rem 0 13rem;
    }
  }
  #map {
    width: 100%;
    padding-bottom: 30%;
  }
  .contact-info-section {
    padding: 10rem 0 15rem;
    p,
    h3 {
      width: 33%;
      float: left;
      @include max-screen(767px) {
        width: 50%;
        display: inline-block;
        float: none;
      }
    }
    @include max-screen(767px) {
      p {
        margin-top: 20px;
      }
    }
    a {
      color: #00000a;
      text-decoration: none;
    }
  }
  .explore-section {
    padding: 5.6rem 0 6rem;

    form {
      max-width: 620px;
      margin: 3rem auto 0;

      .input-container {
        margin-top: 20px;
        width: 50%;
        padding-right: 20px;
        box-sizing: border-box;
        float: left;
        &:nth-child(2) {
          padding-right: 0;
        }
      }
      .textarea-container {
        margin-top: 20px;
        textarea {
          margin-bottom: 0;
        }
      }
      .bottom-info {
        margin-top: 3rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        p {
          font-size: 16px;
        }
        * {
          margin-top: 0;
        }
      }
    }
  }
}