.hero-inside {
  padding-bottom: 30%;
  width: 100%;
}

.plus-ico {
  position: absolute;
  top: 3rem;
  right: 0;
  width: 46px;
  height: 49px;
  opacity: 0.1;
}

.top-section-margin {
  padding-top: 6.5rem;
  position: relative;
  &:before {
    content: "";
    opacity: 0.1;
    background-color: #bababa;
    position: absolute;
    left: 0;
    top: 0;
    height: 28.9rem;
    width: 27rem;
    @include max-screen(767px) {
      display: none;
    }
  }
}
.events-page {
  .explore-section {
    margin-top: 14.1rem;
  }

  .events-section {
    position: relative;

    .left-part {
      float: left;
      width: 440px;
      padding-right: 20px;
      box-sizing: border-box;
      @include max-screen(1024px) {
        width: 310px;
      }

      @include max-screen(767px) {
        float: none;
        margin: 0 auto;
      }

      #datepicker,
      .input-container {
        max-width: 310px;
        width: 100%;
      }
    }

    .right-part {
      float: right;
      width: calc(100% - 440px);
      @include max-screen(1024px) {
        width: calc(100% - 330px);
      }
      @include max-screen(767px) {
        width: 100%;
        float: none;
      }
      .event-box {
        max-width: 660px;
        &:first-child {
          margin-top: 2.8rem;
        }
      }
    }
  }

  .load-more-container {
    background: $color-yellow;
    padding: 25px 0;
    margin-top: 12rem;
  }
}


.date-picker-wrapper {
  padding: 0;
  border: none;
  background: transparent;
  color: #00000a;
  margin-top: 9rem;
  font-family: "Courier";
  font-size: 16px;
  @include max-screen(767px) {
    margin-top: 20px;
  }
}

.date-picker-wrapper .drp_top-bar {
  display: none;
}

.date-picker-wrapper .month-element {
  font-family: "Bazaar-Distressed";
  font-size: 24px;
  letter-spacing: 2px;
}

.date-picker-wrapper .month-wrapper {
  border: none;
  padding: 0;
  border-radius: 0;
}

.date-picker-wrapper .month-wrapper table {
  width: 100%;
}

.date-picker-wrapper table .caption>th:first-of-type span {
  background: url(../img/arrow.svg) no-repeat center;
}
.date-picker-wrapper table .caption>th:last-of-type span {
  background: url(../img/arrow-2.svg) no-repeat center;
}

.date-picker-wrapper table .caption>th:last-of-type,
.date-picker-wrapper table .caption>th:first-of-type {
  span {
    width: 30px;
    height: 30px;
    vertical-align: top;
    display: inline-block;
    font-size: 0;
  }
}

.date-picker-wrapper table .caption .next, .date-picker-wrapper table .caption .prev {
  padding: 0;
}

.date-picker-wrapper table .caption {
  height: 50px;
}

.date-picker-wrapper .month-wrapper table .day {
  font-size: 16px;
  padding: 10px 8px 7px;
  margin-bottom: 8px;
}

.date-picker-wrapper .month-wrapper table .week-name {
  height: 50px;
}

.date-picker-wrapper .month-wrapper table .day:hover {
  background: #00000a;
  color: #fff;
}

.date-picker-wrapper .month-wrapper table .day.toMonth.hovering {
  background: #00000a;
  color: #fff;
}

.date-picker-wrapper .month-wrapper table .day.checked {
  background: $color-yellow;
}

.date-picker-wrapper .first-date-selected, .date-picker-wrapper .last-date-selected {
  background: #00000a!important;
}