.event-planning-page {
  .input-container {
    width: calc(300px - 7px);
    @include max-screen(600px) {
      width: 100%;
    }
  }

  .textarea-container {
    width: calc(540px - 7px);
    @include max-screen(600px) {
      width: 100%;
    }
  }

  .textarea-container,
  .input-container {
    position: relative;
    margin-top: 20px;
    margin-right: 20px;
    float: left;
    &:nth-child(3n) {
      margin-right: 0;
    }
    @include max-screen(957px) {
      &:nth-child(3n) {
        margin-right: 20px;
      }
      &:nth-child(2n) {
        margin-right: 0;
      }
    }
  }

  .calendar-ico {
    position: absolute;
    top: 14px;
    right: 31px;
  }

  .explore-section {
    margin-top: 20rem;
  }

  .static {
    position: static;
  }

  .about-history-section {
    margin-top: 13rem;
  }

  .right-image-block {
    margin-top: 8rem;
    p + a {
      margin-top: 6.5rem;
    }
  }

  .event-planning-text {
    margin-top: 13rem;

    .img-container {
      float: right;
      width: 48%;
      padding-bottom: 22%;
      @include max-screen(767px) {
        width: 100%;
      }
    }
    .text-block {
      width: 52%;
      float: left;
      padding-right: 6.5rem;
      box-sizing: border-box;
      @include max-screen(767px) {
        margin-top: 5rem;
        padding-right: 0;
        width: 100%;
      }
    }
  }

  .date-picker-wrapper {
    margin-top: 0;
    //width: calc(300px - 7px);
    .month-wrapper {
      padding: 10px;
    }
  }
}