h2 {
  svg {
    position: absolute;
    top: -40px;
    left: -50px;
    width: 46px;
    height: 49px;
  }
}
.section-text + .section-text {
  margin-top: 3rem;
}
.section-text {
  max-width: 790px;
  margin-left: 25%;
  @include max-screen(767px) {
    margin-left: 0;
  }
}
.big-text {
  position: absolute;
  opacity: 0.1;
  font-size: 90px;
  display: inline-block;
  font-family: "Bazaar-Distressed";
  line-height: 1;
  letter-spacing: 15.3px;
  color: #bbbbbb;
  @include max-screen(767px) {
    display: none;
  }
}

.index-page {

  .hero-slider {
    width: 100%;
    padding-bottom: 35px;
    margin-bottom: 0;
    background: #000;
    .slide {
      padding-bottom: 16%;
      min-height: 380px;
    }

    .slick-dots {
      bottom: 8px;
    }

    .slick-dots li button:before {
      opacity: 1;
      width: 4px;
      height: 4px;
      background: #ffffff;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .slick-dots .slick-active button:before {
      content: "";
      width: 17px;
      height: 17px;
      background: url("../../img/plus.svg") no-repeat center;
      border-radius: 0;
    }
  }

  .come-together-section {
    padding: 6.5rem 0 8rem;
    position: relative;
    &:before {
      content: "";
      opacity: 0.1;
      background-color: #bababa;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 11rem;
      width: 20%;
      @include max-screen(767px) {
        display: none;
      }
    }
    &:after {
      content: "Reno Public Market";
      width: 115px;
      position: absolute;
      padding: 3.5rem 2.5rem 3.5rem 0;
      bottom: 11rem;
      left: 20%;
      transform: translateX(-100%);
      font-size: 24px;
      font-weight: bold;
      letter-spacing: 2px;
      color: #9c9c9c;
      @include max-screen(767px) {
        display: none;
      }

    }
    .section-text {
      margin-top: 5rem;
    }
  }

  .events-section {
    overflow: hidden;
    padding: 15rem 0;
    @include max-screen(767px) {
      h2 {
        text-align: center;
      }
    }
    .event-box {
      width: calc(50% - 30px);
      margin-right: 59px;
      float: left;
      &:last-child {
        margin-right: 0;
        @include max-screen(767px) {
          margin-right: auto;
        }
      }
    }
  }
}

.explore-section {
  position: relative;
  padding: 10.9rem 0 8.9rem;
  &:before {
    content: "";
    opacity: 0.9;
    background-color: #fad816;
    position: absolute;
    left: 0;
    top: -40px;
    bottom: 0;
    width: 20%;
    @include max-screen(767px) {
      display: none;
    }
  }
  h2 {
    position: relative;
    svg {
      fill: #fff;
    }
  }
  .button {
    margin-top: 4rem;
  }
  p {
    margin-top: 2rem;
  }
}

.about-history-section {
  .bg-container {
    padding: 17rem 0;
    position: relative;
    &:before {
      content: "";
      opacity: 0.9;
      background-color: #fad816;
      position: absolute;
      left: 0;
      top: 8rem;
      bottom: -8rem;
      width: 20%;
      @include max-screen(767px) {
        display: none;
      }
    }
    img {
      width: 24px;
      vertical-align: middle;
    }
  }
  .text-block {
    margin: 10rem 0 9.1rem;
  }
  .button {
    margin-top: 6rem;
  }
  h2 {
    svg {
      fill: #fff;
      width: 24px;
      height: 26px;
      vertical-align: middle;
    }
  }
}

.images-container {
  background: $color-yellow;
  padding: 6rem 0;
  .container {
    display: flex;
    justify-content: space-between;
    @include max-screen(767px) {
      display: block;
    }

    .img-box {
      @include max-screen(767px) {
        margin-top: 4rem;
      }
    }

    p {
      margin-top: 3rem;
    }
  }
}