h1 {
  .grey-text {
    color: #676767;
  }
}

.shop-page {
  .page-footer {
    margin-top: 13rem;
  }
  h1 {
    svg {
      width: 46px;
      height: 49px;
      vertical-align: middle;
      fill: #676767;
    }
  }

  .tabs {
    margin-top: 2.8rem;
    .button {
      float: left;
      margin-top: 2rem;
      margin-right: 2rem;
    }
    .button.active {
      background: $color-yellow;
      border-color: $color-yellow;
    }
  }

  .shop-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .shop-box {
    text-align: center;
    display: inline-block;
    float: left;
    margin: 8rem auto 0;
    .img-container {
      cursor: pointer;
      display: inline-block;
      width: 251px;
      height: 251px;
      position: relative;
      box-sizing: border-box;
      img {
        max-width: 60%;
      }
    }

    .hidden-info {
      visibility: hidden;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      box-sizing: border-box;
      padding: 20px;
      background: rgba(#00000a, 0.8);
      font-size: 12px;
      text-align: left;
      color: #fff;
      line-height: 16px;
      &:before,
      &:after {
        content: "";
        position: absolute;
        background: url(../img/plus.svg) no-repeat center/cover;
        width: 32px;
        height: 32px;
      }
      &:before {
        left: -30px;
        top: -32px;
      }
      &:after {
        right: -30px;
        bottom: -32px;
      }
      .margin {
        margin-top: 2rem;
      }
      a {
        display: inline-block;
        text-decoration: none;
        color: #fff;
      }
      .yellow-text {
        color: $color-yellow;
      }
    }

    .img-container:hover .hidden-info {
      visibility: visible;
    }
  }
}